*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    //This defiens what 1 rem is
    font-size: 62.5%;
}

body {
    font-family: "Lato";
/*     font-size: 16px; */
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}